@model CreateHireCategoryVM
@{
    string? strTitle = "Створення нової категорії";
    ViewBag.Title = strTitle;
}
<div>
    <h1>@strTitle</h1>
    <div class="div-box">
        <form asp-area="" asp-controller="AdminHireCategory" asp-action="AddCategory" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="ImageUrl"></label>
                <input type="file" name="titleImageFile" id="titleImageFile" />
                <div>
                    <img class="img-block" src="~/img/@Model.ImageUrl" />
                </div>
            </div>
            <div>
                <label asp-for="IsActive"></label>
                <input asp-for="IsActive" />
                <span asp-validation-for="IsActive"></span>
            </div>
            
            <div>
                <input type="submit" value="Додати категорію" />
            </div>
        </form>
    </div>
</div>
