@model EditHireSubCategoryVM
@{
    string? strTitle = "Видалення підкатегорії";
    ViewBag.Title = strTitle;
}
<div>
    <h1>@strTitle</h1>
    <div class="div-box">
        <div class="div-box">
            <h2>@Model.Name</h2>
        </div>
        <form asp-controller="AdminHireSubCategory" asp-action="DeleteSubCategory" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="HireCategoryId" />
            <input type="hidden" asp-for="IsActive" />
            
            <div class="div-box">
                <input type="submit" value="Видалити" />
            </div>
        </form>
    </div>
</div>