@model EditHireSubCategoryVM
@{
    string? strTitle;
    if(Model.Id == default)
    {
        strTitle = "Додати підкатегорію";
    }
    else
    {
        strTitle = "Редагування підкатегорії";
    }
    ViewBag.Title = strTitle;
}
<div class="col-12 col-12-medium imp-medium">
    <h1>@strTitle</h1>
    <div class="div-box">
        <form asp-area="" asp-controller="AdminHireSubCategory" asp-action="EditSubCategory" method="post">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="All"></div>
            <div class ="div-box">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="div-box">
                <label asp-for="HireCategoryId"></label>
                <select asp-for="HireCategoryId">
                    <option value="">Виберіть категорію...</option>
                    @foreach (ViewHireCategory category in ViewBag.ViewCategories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div >
            <div class ="div-box">
                <label asp-for="IsActive"></label>
                <input asp-for="IsActive" />
                <span asp-validation-for="IsActive"></span>
            </div>

            <div class="div-box">
                <input type="submit" value="Зберегти" />
            </div>
        </form>
    </div>
</div>