@{
    string? strTitle = "Адмін панель";
    ViewBag.Title = strTitle;
}
<div>
    <h1>@strTitle</h1>
    <div class="div-box">
        <a asp-controller="AdminHireCategory" asp-action="Index" class="button" >Категорії</a> => 
        <a asp-controller="AdminHireSubCategory" asp-action="Index" class="button">Підкатегорії</a>
    </div>
</div>
