@{
    string? strTitle = "Адмін панель";
    ViewBag.Title = strTitle;
}
<div>
    <h1>@strTitle</h1>
    <div class="div-box">
        <form asp-area="" asp-controller="AdminHireCategory" asp-action="Index" method="get">
            <input type="submit" value="Категорії" />
        </form>
    </div>
</div>
