<div id="header-wrapper">
	<div class="container">
		<header id="header">
			<div class="inner">
				<h1><a asp-area="" asp-controller="Home" asp-action="Index" id="logo">SUP-Club</a></h1>

				<!-- Nav -->
				@(await Component.InvokeAsync<MenuComponent>())
				
			</div>
		</header>
	</div>
</div>