@model IEnumerable<Contact>
@{
	string strTitle = "Контакти";
	ViewBag.Title = strTitle;
}
<div class="col-4 col-12-medium">
	<div id="content">
		<header class="first major">
			<h2>@strTitle</h2>
		</header>
		@foreach (Contact contact in Model)
		{
			<partial name="_ViewContactPartial" model="@contact" />
		}
    </div>
</div>
